{{ define "styles" }}
<link rel="stylesheet" href="/preflight.css">
<link rel="stylesheet" href="/main.css">
<link rel="stylesheet" href="/home.css">
<link rel="stylesheet" href="/syntax.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
{{ end }}

{{ define "seo" }}
<script type="application/ld+json"> {
    "@context": "https://schema.org/",
    "@type": "WebSite",
    "url": "{{ .Site.BaseURL }}"
}
</script>
{{ end }}

{{ define "header" }}
<header class="section">
    {{ partial "navigation.html" . }}
    <div id="hero" class="section">
        <h1>{{ .Params.title }}</h1>
    <hr>
    </div>
</header>
{{ end }}

{{ define "main" }}
<main aria-role="main">
    {{ .Content }}
    {{ partial "recent_posts.html" . }}
    <footer id="site-footer" class="section">
    {{ range .Site.Menus.socials }}
        <a href="{{ .URL }}" title="{{ .Title }}">
        {{- .Name -}}
        </a>
    {{ end }}
    </footer>
</main>
{{ end }}
