:root {
    --bg-color: #1d2021;
    --text-color: #ebdbb2;
    --link-color: #83a598;
    --gray-accent-color: #3c3836;
}

body {
    margin: auto;
    padding: 0ch 1ch;
    max-width: 75ch;
    background-color: var(--bg-color);
    color: var(--text-color);
}

h1, h2, h3 { font-weight: bold; }

a {
    text-decoration: underline;
    color: var(--link-color);
}

#site-navbar,
#site-footer {
    background-color: var(--gray-accent-color);
}

#site-navbar > a,
#site-footer > a {
    text-decoration: underline;
    color: var(--link-color);
}

#site-navbar > a:before,
#site-footer > a:before {
    display: inline-block;
    content: "[";
}
#site-navbar > a:after,
#site-footer > a:after {
    display: inline-block;
    content: "]";
}

.section { margin: 2ch 0ch; }
